.icon-row {
  display: flex;
  flex-wrap: wrap;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
  transition: color 0.3s ease-in-out;
  color: var(--squidGame);
  opacity: 0.5;
}

.icon-row__icon:hover {
  cursor: pointer;
  color: var(--dalgona);
}

.icon-row__icon i {
  font-size: 35px;
  margin-top: 18px;
}

.icon-row__icon span {
  margin-top: 18px;
  font-size: 12px;
}

@media screen and (max-width: 510px) {
  .icon-row__icon span {
    font-size: 10px;
    font-weight: 600;
  }
}
