.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  padding-bottom: 15px;
}

@keyframes bounceText {
  0% {
    top: 0;
  }
  50% {
    top: -5px;
    transform: scale(1.1);
  }
  75% {
    top: -10px;
    transform: scale(1.3);
  }
  100% {
    top: 0;
  }
}

.screen-header__title {
  font-size: 25px;
  font-weight: 600;
  animation: bounceText 1s ease-in-out infinite;
  position: relative;
}

.screen-header__icons span {
  margin-left: 25px;
  color: var(--umbrella);
}

.screen-header__icons div {
  background-color: var(--squidGame);
  width: 6px;
  height: 6px;
  border-radius: 4px;
  position: relative;
}

.screen-header__circle {
  left: 100px;
  bottom: 25px;
}

.screen-header__circle-more {
  left: 150px;
  bottom: 25px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
