.user-component {
  justify-content: space-between;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
  box-shadow: 1px 2px 5px 2px var(--squidGame);
}

.user-component__title {
  font-weight: 600;
  font-size: 22px;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: 17px;
  color: var(--squidGame);
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

@keyframes shadowText {
  from {
    text-shadow: 1px 3px 3px #f9c309, 1px 3px 3px #fed40d, 1px 2px 2px #f6ac0c,
      1px 2px 2px #de830a;
    opacity: 0.5;
  }
  to {
    transform: none;
  }
}

.user-component__title--not-bold {
  font-weight: 400;
  color: var(--dalgona);
  animation: shadowText 2s ease-in-out forwards;
  animation-delay: 3s;
}

.user-component__column:last-child {
  color: var(--sportswear);
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  display: block;
  margin-bottom: 5px;
}

.user-component__mark {
  color: var(--squidGame);
  font-weight: 600;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 100px;
  bottom: 0px;
  width: 13px;
  height: 13px;
  border-radius: 8px;
  border: var(--main-border);
  padding-top: 2px;
}

.user-component__text {
  position: relative;
}
